@font-face {font-family: Bombardier;src: url(fonts/BOMBARD_.ttf) format('truetype');}
@font-face {font-family: Aldrich;src: url(fonts/Aldrich-Regular.ttf) format('truetype');}
@font-face {font-family: FZRui;src: url(fonts/FZRuiZHJW.ttf) format('truetype');}
@font-face {font-family: Type;src: url(fonts/OldTyperNr.ttf) format('truetype');}
@font-face {font-family: FZWen;src: url(fonts/FZWH.TTF) format('truetype');}
#basics input{height: 19px; font-family: Aldrich,FZRui; background-color: #cccccc20;
    outline:1px solid #7ccccc; color: #7ccccc; font-size: 15px;text-align: center; width: 100%;}
#poplist input{height: 19px; font-family: Aldrich,FZRui; background-color: #cccccc20;
    outline:1px solid #7ccccc; color: #7ccccc; font-size: 15px;text-align: center; width: 52%;  float: right;}
#poplist label{text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);}
#description input{height: 19px; font-family: Aldrich,FZRui; background-color: #cccccc20;
    outline:1px solid #7ccccc; color: #7ccccc; font-size: 15px;text-align: center; width: 100%;}
#presetbuttons button{color: #cccccc; transition: 0.3s; background: url('template/button_170x34.png') no-repeat; border: none;
     width: 170px; height: 34px; font-family:Aldrich,FZRui;}
#controlbuttons button{color: #cccccc; transition: 0.3s; background: url('template/button_170x34.png') no-repeat; border: none;
     width: 170px; height: 34px; font-family:Aldrich,FZRui;}
#pictures button{color: #cccccc; transition: 0.3s; background: url('template/button_80x34.png') no-repeat; border: none;
    width: 80px; height: 34px; font-family:Aldrich,FZRui;}
#sidebar input{height: 19px; font-family: Aldrich,FZRui; background-color: #cccccc20; outline:1px solid #7ccccc; 
    color: #7ccccc; font-size: 15px;text-align: center;}
#description textarea{height: 15px; font-family: Aldrich,FZRui; background-color: #cccccc20;
    outline:1px solid #7ccccc; color: #7ccccc; font-size: 15px;overflow-wrap: break-word; min-height: 6lh; width: 100%;resize: vertical;}
/*.list {height: 19px; font-family: Aldrich,FZRui; background-color: #cccccc20;
    outline:1px solid #7ccccc; color: #7ccccc; font-size: 15px; width: 250px; float: right;}*/
.checkbox {color: #cccccc; border: none; width: 170px; height: 34px;transition: 0.3s;
    font-family:Aldrich,FZRui;background:url('template/generic_checkbox_checked.png') no-repeat;}
.autocomp :hover{background-color: #999999;border-bottom: 1px solid #cccc00;}
.autocomp {max-height: 200px;overflow-y: auto;overflow-x: hidden;}
.autocompuser :hover{background-color: #999999;border-bottom: 1px solid #cccc00;}
.autocompuser {max-height: 200px;overflow-y: auto;overflow-x: hidden;}
.queryinput {height: 19px; font-family: Aldrich,FZRui; background-color: #cccccc20; 
    outline:1px solid #7ccccc; color: #7ccccc; font-size: 15px;text-align: center; width: 70%;  float: right;}
.queryuserinput {height: 19px; font-family: Aldrich,FZRui; background-color: #cccccc20; 
        outline:1px solid #7ccccc; color: #7ccccc; font-size: 15px;text-align: center; width: 70%;  float: right;}
.preset-entry button {display: none;}
.preset-entry:hover button {display: inline-block;}